<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.gbj.mapper.ConsumerMapper">
    <resultMap type="com.gbj.model.Consumer" id="ConsumerBaseResultMap">
        <result column="fk_et_id" property="fk_et_id" jdbcType="INTEGER" />
        <result column="fk_in_id" property="fk_in_id" jdbcType="INTEGER" />
        <result column="fk_sm_id" property="fk_sm_id" jdbcType="INTEGER" />
        <result column="fk_cs_id" property="fk_cs_id" jdbcType="INTEGER" />
        <result column="fk_city_id" property="fk_city_id" jdbcType="INTEGER" />
        <result column="fk_country_id" property="fk_country_id" jdbcType="INTEGER" />
        <result column="fk_pro_id" property="fk_pro_id" jdbcType="INTEGER" />
        <result column="fk_cg_id" property="fk_cg_id" jdbcType="INTEGER" />
        <association property="economicType" column="fk_et_id" select="com.gbj.mapper.EconomicTypeMapper.load"/>
        <association property="industry" column="fk_in_id" select="com.gbj.mapper.IndustryMapper.load"/>
        <association property="saleModel" column="fk_sm_id" select="com.gbj.mapper.SaleModelMapper.load"/>
        <association property="consumerSource" column="fk_cs_id" select="com.gbj.mapper.ConsumerSourceMapper.load"/>
        <association property="province" column="fk_pro_id" select="com.gbj.mapper.AddressMapper.loadProvince"/>
        <association property="city" column="fk_city_id" select="com.gbj.mapper.AddressMapper.loadCity"/>
        <association property="country" column="fk_country_id" select="com.gbj.mapper.AddressMapper.loadCountry"/>
        <association property="consumerGrand" column="fk_cg_id" select="com.gbj.mapper.ConsumerGrandMapper.load"/>
    </resultMap>
    <select id="consumerList" parameterType="map" resultMap="ConsumerBaseResultMap">
        SELECT * FROM consumer 
        <where>
            <if test="consumer.con_name!=null and consumer.con_name.trim()!=''">
                AND con_name LIKE concat("%",#{consumer.con_name},"%")
            </if>
            <if test="consumer.con_tel!=null and consumer.con_tel.trim()!=''">
                AND con_tel LIKE concat("%",#{consumer.con_tel},"%")
            </if>
            AND con_status=1
        </where>
        LIMIT #{record},4
    </select>
    <select id="count" parameterType="map" resultType="integer">
        SELECT COUNT(*) FROM consumer
        <where>
            <if test="consumer.con_name!=null and consumer.con_name.trim()!=''">
                AND con_name LIKE concat("%",#{consumer.con_name},"%")
            </if>
            <if test="consumer.con_tel!=null and consumer.con_tel.trim()!=''">
                AND con_tel LIKE concat("%",#{consumer.con_tel},"%")
            </if>
            AND con_status=1
        </where>
    </select>
    <insert id="consumerAddAction" parameterType="com.gbj.model.Consumer">
        INSERT INTO 
            consumer(con_name,con_tel,con_email,fk_et_id,fk_in_id,con_time,con_price,con_logo,fk_sm_id,fk_cs_id,con_status,fk_city_id,fk_country_id,fk_pro_id,fk_cg_id) 
        VALUES
            (#{con_name},#{con_tel},#{con_email},#{fk_et_id},#{fk_in_id},#{con_time},#{con_price},#{con_logo},#{fk_sm_id},#{fk_cs_id},1,#{fk_city_id},#{fk_country_id},#{fk_pro_id},#{fk_cg_id})
    </insert>
    <select id="load" parameterType="integer" resultType="com.gbj.model.Consumer">
        SELECT * FROM consumer WHERE con_id=#{con_id}
    </select>
    <update id="consumerUpdateAction" parameterType="com.gbj.model.Consumer">
        UPDATE consumer
        <set>
            <if test="con_name!=null and con_name.trim()!=''">
                con_name=#{con_name},
            </if>
            <if test="con_tel!=null and con_tel.trim()!=''">
                con_tel=#{con_tel},
            </if>
            <if test="con_email!=null and con_email.trim()!=''">
                con_email=#{con_email},
            </if>
            <if test="fk_et_id!=null and fk_et_id!=''">
                fk_et_id=#{fk_et_id},
            </if>
            <if test="fk_in_id!=null and fk_in_id!=''">
                fk_in_id=#{fk_in_id},
            </if>
            <if test="con_price!=null and con_price!=''">
                con_price=#{con_price},
            </if>
            <if test="con_logo!=null and con_logo!=''">
                con_logo=#{con_logo},
            </if>
            <if test="fk_sm_id!=null and fk_sm_id!=''">
                fk_sm_id=#{fk_sm_id},
            </if>
            <if test="fk_cs_id!=null and fk_cs_id!=''">
                fk_cs_id=#{fk_cs_id},
            </if>
            <if test="fk_city_id!=null and fk_city_id!=''">
                fk_city_id=#{fk_city_id},
            </if>
            <if test="fk_country_id!=null and fk_country_id!=''">
                fk_country_id=#{fk_country_id},
            </if>
            <if test="fk_pro_id!=null and fk_pro_id!=''">
                fk_pro_id=#{fk_pro_id},
            </if>
            <if test="fk_cg_id!=null and fk_cg_id!=''">
                fk_cg_id=#{fk_cg_id},
            </if>
            <if test="con_remark!=null and con_remark.trim()!=''">
                con_remark=#{con_remark},
            </if>
        </set>
        where con_id=#{con_id}
    </update>
    <update id="consumerDel" parameterType="integer">
        UPDATE
            consumer
        SET
            con_status = 0
        WHERE
            con_id=#{con_id}
    </update>
    <update id="consumerMoreDel" parameterType="integer">
        UPDATE
            consumer
        SET
            con_status = 0
        WHERE
            con_id 
        IN 
        <foreach collection="array" item="con_id" open="(" close=")" separator=",">
            #{con_id}
        </foreach>
    </update>
    <insert id="consumerRemark" parameterType="com.gbj.model.Consumer">
        INSERT INTO 
            consumer(con_remark) 
        VALUES
            (#{con_remark})
    </insert> 
    <select id="findAllList" resultMap="ConsumerBaseResultMap">
        SELECT * FROM consumer WHERE con_status=1
    </select>
  </mapper>