<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.gbj.mapper.EmployeeMapper">
    <resultMap type="com.gbj.model.Employee" id="EmployeeBaseResultMap">
        <result column="fk_role_id" property="fk_role_id" jdbcType="INTEGER" />
        <result column="fk_city_id" property="fk_city_id" jdbcType="INTEGER" />
        <result column="fk_country_id" property="fk_country_id" jdbcType="INTEGER" />
        <result column="fk_pro_id" property="fk_pro_id" jdbcType="INTEGER" />
        <result column="fk_edu_id" property="fk_edu_id" jdbcType="INTEGER" />
        <result column="fk_dep_id" property="fk_dep_id" jdbcType="INTEGER" />
        <association property="education" column="fk_edu_id" select="com.gbj.mapper.EducationMapper.load"/>
        <association property="dep" column="fk_dep_id" select="com.gbj.mapper.DepartmentMapper.load"/>
        <association property="province" column="fk_pro_id" select="com.gbj.mapper.AddressMapper.loadProvince"/>
        <association property="city" column="fk_city_id" select="com.gbj.mapper.AddressMapper.loadCity"/>
        <association property="country" column="fk_country_id" select="com.gbj.mapper.AddressMapper.loadCountry"/>
        <association property="role" column="fk_role_id" select="com.gbj.mapper.RoleMapper.load"></association>
    </resultMap>
<!--     登录 -->
   <select id="login" parameterType="map" resultMap="EmployeeBaseResultMap">
    SELECT 
        * 
    FROM 
        employee 
    WHERE 
        account=#{employee.account} and password=#{employee.password}
   </select>
<!--    权限分配 -->
   <select id="sonMenuList" parameterType="integer" resultType="com.gbj.model.Menu">
    SELECT 
        * 
    FROM 
        menu 
    WHERE 
        menu_id 
    IN 
        (SELECT fk_menu_id FROM role_link_menu WHERE fk_role_id=#{role_id})
   </select>
   <select id="fatherMenuList" resultType="com.gbj.model.Menu">
        SELECT 
            * 
        FROM 
            menu 
        WHERE 
            menu_id 
        IN 
        <foreach collection="array" item="father_menu" open="(" close=")" separator=",">
            #{father_menu}
        </foreach>
    </select>
<!--     员工查询 -->
    <select id="employeeList" parameterType="map" resultMap="EmployeeBaseResultMap">
        SELECT 
            * 
        FROM 
            employee
        <where>
            <if test="employee.emp_name!=null and employee.emp_name.trim()!=''">
                AND emp_name LIKE concat("%",#{employee.emp_name},"%")
            </if>
            <if test="employee.account!=null and employee.account.trim()!=''">
                AND account LIKE concat("%",#{employee.account},"%")
            </if>
            AND emp_status=1
        </where>
        LIMIT #{record},4
    </select>
    <select id="count" parameterType="map" resultType="integer">
        SELECT 
            COUNT(*) 
        FROM 
            employee
        <where>
            <if test="employee.emp_name!=null and employee.emp_name.trim()!=''">
                AND emp_name LIKE concat("%",#{employee.emp_name},"%")
            </if>
            <if test="employee.account!=null and employee.account.trim()!=''">
                AND account LIKE concat("%",#{employee.account},"%")
            </if>
            AND emp_status=1
        </where>
    </select>
    <insert id="employeeAddAction" parameterType="com.gbj.model.Employee">
        INSERT INTO 
            employee(emp_name,account,password,emp_email,emp_tel,emp_age,emp_sex,fk_dep_id,emp_card,fk_edu_id,emp_status,emp_time,fk_role_id,fk_pro_id,fk_city_id,fk_country_id,emp_logo) 
        VALUES
            (#{emp_name},#{account},"1234",#{emp_email},#{emp_tel},#{emp_age},#{emp_sex},#{fk_dep_id},#{emp_card},#{fk_edu_id},1,#{emp_time},#{fk_role_id},#{fk_pro_id},#{fk_city_id},#{fk_country_id},#{emp_logo})
    </insert>
    <select id="load" parameterType="integer" resultType="com.gbj.model.Employee">
        SELECT * FROM employee WHERE emp_id=#{emp_id}
    </select>
    <update id="employeeUpdateAction" parameterType="com.gbj.model.Employee">
        UPDATE employee
        <set>
            <if test="emp_name!=null and emp_name.trim()!=''">
                emp_name=#{emp_name},
            </if>
            <if test="account!=null and account.trim()!=''">
                account=#{account},
            </if>
            <if test="emp_email!=null and emp_email.trim()!=''">
                emp_email=#{emp_email},
            </if>
            <if test="emp_tel!=null and emp_tel!=''">
                emp_tel=#{emp_tel},
            </if>
            <if test="emp_age!=null and emp_age!=''">
                emp_age=#{emp_age},
            </if>
            <if test="emp_sex!=null and emp_sex!=''">
                emp_sex=#{emp_sex},
            </if>
            <if test="fk_dep_id!=null and fk_dep_id!=''">
                fk_dep_id=#{fk_dep_id},
            </if>
            <if test="emp_card!=null and emp_card!=''">
                emp_card=#{emp_card},
            </if>
            <if test="fk_edu_id!=null and fk_edu_id!=''">
                fk_edu_id=#{fk_edu_id},
            </if>
            <if test="fk_city_id!=null and fk_city_id!=''">
                fk_city_id=#{fk_city_id},
            </if>
            <if test="fk_country_id!=null and fk_country_id!=''">
                fk_country_id=#{fk_country_id},
            </if>
            <if test="fk_pro_id!=null and fk_pro_id!=''">
                fk_pro_id=#{fk_pro_id},
            </if>
            <if test="fk_role_id!=null and fk_role_id!=''">
                fk_role_id=#{fk_role_id},
            </if>
            <if test="emp_logo!=null and emp_logo.trim()!=''">
                emp_logo=#{emp_logo},
            </if>
        </set>
        WHERE emp_id=#{emp_id}
    </update>
    <!--  逻辑删除 -->
    <update id="employeeDelAction" parameterType="integer">
        UPDATE 
            employee
        SET
            emp_status=0
        WHERE
            emp_id=#{emp_id}
    </update>
    <!-- 批量逻辑删除 -->
    <update id="employeeMoreDelAction" parameterType="integer">
        UPDATE 
            employee
        SET
            emp_status=0
        WHERE
            emp_id
        IN
            <foreach collection="array" open="(" close=")" separator="," item="emp_id">
                #{emp_id}
            </foreach>
    </update>
<!--     离职员工查询 -->
    <select id="employeeNotList" parameterType="map" resultMap="EmployeeBaseResultMap">
        SELECT 
            * 
        FROM 
            employee
        <where>
            <if test="employee.emp_name!=null and employee.emp_name.trim()!=''">
                AND emp_name LIKE concat("%",#{employee.emp_name},"%")
            </if>
            <if test="employee.account!=null and employee.account.trim()!=''">
                AND account LIKE concat("%",#{employee.account},"%")
            </if>
            AND emp_status=0
        </where>
        LIMIT #{record},4
    </select>
    <select id="countNot" parameterType="map" resultType="integer">
        SELECT 
            COUNT(*) 
        FROM 
            employee
        <where>
            <if test="employee.emp_name!=null and employee.emp_name.trim()!=''">
                AND emp_name LIKE concat("%",#{employee.emp_name},"%")
            </if>
            <if test="employee.account!=null and employee.account.trim()!=''">
                AND account LIKE concat("%",#{employee.account},"%")
            </if>
            AND emp_status=0
        </where>
    </select>
<!--     恢复员工职位 -->
    <update id="employeeRecAction" parameterType="integer">
        UPDATE 
            employee
        SET
            emp_status=1
        WHERE
            emp_id=#{emp_id}
    </update>
<!--     查询所有在职员工 -->
    <select id="findAllList" resultMap="EmployeeBaseResultMap">
        SELECT 
            * 
        FROM 
            employee
        WHERE 
            emp_status=1
    </select>
<!--     修改密码byId -->
    <update id="passwordMdi" parameterType="com.gbj.model.Employee">
        UPDATE 
            employee
        SET
            password=#{password}
        WHERE
            emp_id=#{emp_id}
    </update>
  </mapper>