<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbj.mapper.GoodsTypeMapper">
    <resultMap type="com.gbj.model.GoodsType" id="GoodsTypeBaseResultMap">
        <id column="gt_id" property="gt_id"/>
        <result column="gt_type" property="gt_type"/>
    </resultMap>
    <select id="load" parameterType="integer" resultMap="GoodsTypeBaseResultMap">
        SELECT 
            * 
        FROM 
            goodstype 
        WHERE 
            gt_id=#{gt_id}
    </select>
    <select id="typeList" resultType="com.gbj.model.GoodsType">
        SELECT 
            * 
        FROM 
            goodstype
    </select>
    <select id="typeLikeList" parameterType="map" resultMap="GoodsTypeBaseResultMap">
        SELECT 
            * 
        FROM 
            goodstype 
        <where>
            <if test="goodstype.gt_type!=null and goodstype.gt_type!=''">
                AND gt_type LIKE concat("%",#{goodstype.gt_type},"%")
            </if>
            AND gt_state=0
        </where>
        LIMIT #{record},4
    </select>
    <select id="count" parameterType="map" resultType="integer">
        SELECT 
            COUNT(*) 
        FROM 
            goodstype 
        <where>
            <if test="goodstype.gt_type!=null and goodstype.gt_type!=''">
                AND gt_type LIKE concat("%",#{goodstype.gt_type},"%")
            </if>
            AND gt_state=0
        </where>
    </select>
    <insert id="goodsTypeAddAction" parameterType="com.gbj.model.GoodsUnit">
        INSERT INTO 
            goodstype(gt_type,gt_state)
        VALUES
            (#{gt_type},0)
    </insert>
    <delete id="goodsTypeDelAction" parameterType="integer">
        UPDATE
            goodstype
        SET
            gt_state=1
        WHERE 
            gt_id=#{gt_id}
    </delete>
</mapper>