<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbj.mapper.SupplierMapper">
    <resultMap type="com.gbj.model.Supplier" id="SupplierBaseResultMap">
        <result column="fk_et_id" property="fk_et_id" jdbcType="INTEGER" />
        <result column="fk_city_id" property="fk_city_id" jdbcType="INTEGER" />
        <result column="fk_country_id" property="fk_country_id" jdbcType="INTEGER" />
        <result column="fk_pro_id" property="fk_pro_id" jdbcType="INTEGER" />
        <result column="fk_cg_id" property="fk_cg_id" jdbcType="INTEGER" />
        <association property="economicType" column="fk_et_id" select="com.gbj.mapper.EconomicTypeMapper.load"/>
        <association property="province" column="fk_pro_id" select="com.gbj.mapper.AddressMapper.loadProvince"/>
        <association property="city" column="fk_city_id" select="com.gbj.mapper.AddressMapper.loadCity"/>
        <association property="country" column="fk_country_id" select="com.gbj.mapper.AddressMapper.loadCountry"/>
        <association property="consumerGrand" column="fk_cg_id" select="com.gbj.mapper.ConsumerGrandMapper.load"/>
    </resultMap>
    <select id="load" parameterType="integer" resultMap="SupplierBaseResultMap">
        SELECT 
            * 
        FROM 
            supplier 
        WHERE 
            sup_id=#{sup_id}
    </select>
    <select id="supList" resultType="com.gbj.model.Supplier">
        SELECT * FROM supplier
    </select>
    <select id="supplierList" parameterType="map" resultMap="SupplierBaseResultMap">
        SELECT * FROM supplier 
        <where>
            <if test="supplier.sup_name!=null and supplier.sup_name.trim()!=''">
                AND sup_name LIKE concat("%",#{supplier.sup_name},"%")
            </if>
            <if test="supplier.sup_tel!=null and supplier.sup_tel.trim()!=''">
                AND sup_tel LIKE concat("%",#{supplier.sup_tel},"%")
            </if>
            AND sup_status=1
        </where>
        LIMIT #{record},4
    </select>
    <select id="count" parameterType="map" resultType="integer">
        SELECT COUNT(*) FROM supplier
        <where>
            <if test="supplier.sup_name!=null and supplier.sup_name.trim()!=''">
                AND sup_name LIKE concat("%",#{supplier.sup_name},"%")
            </if>
            <if test="supplier.sup_tel!=null and supplier.sup_tel.trim()!=''">
                AND sup_tel LIKE concat("%",#{supplier.sup_tel},"%")
            </if>
            AND sup_status=1
        </where>
    </select>
<!--     添加供应商 -->
    <insert id="supplierAddAction" parameterType="com.gbj.model.Supplier">
        INSERT INTO 
            supplier(sup_name,sup_tel,sup_bank,sup_bank_id,sup_scope,sup_logo,sup_time,fk_et_id,fk_cg_id,fk_pro_id,fk_city_id,fk_country_id,sup_status)
        VALUES
            (#{sup_name},#{sup_tel},#{sup_bank},#{sup_bank_id},#{sup_scope},#{sup_logo},#{sup_time},#{fk_et_id},#{fk_cg_id},#{fk_pro_id},#{fk_city_id},#{fk_country_id},1)
    </insert>
<!--     修改供应商信息 -->
    <update id="supplierUpdateAction" parameterType="com.gbj.model.Supplier">
        UPDATE supplier
        <set>
            <if test="sup_name!=null and sup_name.trim()!=''">
                sup_name=#{sup_name},
            </if>
            <if test="sup_tel!=null and sup_tel!=''">
                sup_tel=#{sup_tel},
            </if>
            <if test="sup_bank!=null and sup_bank!=''">
                sup_bank=#{sup_bank},
            </if>
            <if test="sup_bank_id!=null and sup_bank_id!=''">
                sup_bank_id=#{sup_bank_id},
            </if>
            <if test="fk_cg_id!=null and fk_cg_id!=''">
                fk_cg_id=#{fk_cg_id},
            </if>
            <if test="fk_et_id!=null and fk_et_id!=''">
                fk_et_id=#{fk_et_id},
            </if>
            <if test="fk_city_id!=null and fk_city_id!=''">
                fk_city_id=#{fk_city_id},
            </if>
            <if test="fk_country_id!=null and fk_country_id!=''">
                fk_country_id=#{fk_country_id},
            </if>
            <if test="fk_pro_id!=null and fk_pro_id!=''">
                fk_pro_id=#{fk_pro_id},
            </if>
            <if test="sup_scope!=null and sup_scope!=''">
                sup_scope=#{sup_scope},
            </if>
            <if test="sup_logo!=null and sup_logo.trim()!=''">
                sup_logo=#{sup_logo},
            </if>
        </set>
        WHERE sup_id=#{sup_id}
    </update>
<!--     逻辑啊删除供应商 -->
<!--  逻辑删除 -->
    <update id="supplierDelAction" parameterType="integer">
        UPDATE 
            supplier
        SET
            sup_status=0
        WHERE
            sup_id=#{sup_id}
    </update>
    <!-- 批量逻辑删除 -->
    <update id="supplierMoreDelAction" parameterType="map">
        UPDATE 
            supplier
        SET
            sup_status=0
        WHERE
            sup_id
        IN
            <foreach collection="array" open="(" close=")" separator="," item="sup_id">
                #{sup_id}
            </foreach>
    </update>
</mapper>